<main class="card-container">
  <header class="card-container__header">
    {{entity.title}}
  </header>
  <main class="card-container__body">
    {{entity.Value}}
  </main>
  <footer class="card-container__footer">
    <section class="card-container__footer--details borderCenter">
      <p>Variação (%)</p>
      <p>{{entity.Variation}}</p>
    </section>
    <section class="card-container__footer--details">
      <p>Atualizado</p>
      <p>{{entity.Updated}}</p>
    </section>
  </footer>
</main>
