// BACKGROUND-COLORS
$app-background: #EEEEEE;
$app-header-background: #FFFFFF;
$card-header-background: #F6F6F6;
$card-background: #FFFFFF;
$button-background: #F4F4F4;

// TEXT-COLORS
$text-basic: #F4F4F4;
$text-secundary: #F4F4F4;
$text-green: #F4F4F4;
$text-blue: #F4F4F4;
$text-red: #F4F4F4;
